<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title %></h1></title>
</head>
<body>

<p> Completed class <%=numOfCplt%></p>
<p> Waiting for grade <%=numOfWait%></p>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Discription</th>
    </tr>
    <% for(var i=0; i< myCourse.length; i++){%>
    <tr>
        <td><%=myCourse[i].course_name%></td>
        <td><%=myCourse[i].price%></td>
        <td><%=myCourse[i].description%></td>
        <td><a href="/courses/<%=myCourse[i].course_id%>">View</a></td>

    </tr>
    <% }%>
</table>

<table>
        <tr>
            <th>Course name</th>
            <th>Course price</th>
            <th>Cource Discription</th>
        </tr>
        <% for(var i=0; i< RecommendCourse.length; i++){%>
            <tr>
                <td><%=RecommendCourse[i].course_name%></td>
                <td><%=RecommendCourse[i].price%></td>
                <td><%=RecommendCourse[i].description%></td>
                <td><a href="/courses/<%=RecommendCourse[i].course_id%>">View</a></td>
        
            </tr>
            <% }%>
    </table>
    

</body>
</html>