<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
</head>
<body>
        <p>Your id:  <%=datas[0].tutor_id%></p>
        <p>First Name:  <%=datas[0].first_name%></p>
        <p>Last Name: <%=datas[0].last_name%></p>
        <p>Language to Teach: <%=datas[0].language_to_teach%></p>
        <p>Native Language: <%=datas[0].native_language%></p>
        <p>Teaching_experience: <%=datas[0].teaching_experience%></p>
        <p>Current Level: <%=datas[0].level%></p>
        <p>Email: <%=datas[0].email%></p>

        <p><a href="/tutorProfile/toUpdate/<%=datas[0].tutor_id%>">Edit Profile</a></p>
 
</body>
</html>